body {
  background-color: black;
  font-family: 'Roboto Mono', monospace;
  color: white;
}

h2 {
  margin-top: 12px;
  color: white;
  text-align: center;
  font-weight: 200;
}

#note {
  min-width: 700px;
  max-width: 70vw;
  min-height: 40vh;
  padding: 32px;
  color: white;
  border: 1px solid #C4C4C4;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#question {
  color: #1D5DEB;
  font-size: 28px;
}

#show {
  color: #41EB52;
  font-size: 20px;
  cursor: pointer;
}

footer {
  position: absolute;
  bottom: 0;
  width: 100vw;
  display: flex;
  background-color: #861414;
  font-size: 20\px;
  padding: 4px 0;
  font-weight: 200;
}

.left-section {
  display: flex;
}

.left-section div {
  padding: 0 16px;
  border-right: 3px solid #6A5D5D;
  color: #C4C4C4;
  cursor: pointer;
}

.right-section {
  position: absolute;
  right: 0;
  padding: 0 16px;
  color: #C4C4C4;
  border-left: 3px solid #6A5D5D;
  cursor: pointer;
}